body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 209);
}

img {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    animation-name: rodar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rodar{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}