caption {
    background-color: rgb(20, 82, 130);
    color: white;
    text-align: center;
}
.position {
    color: black;
    background-color: rgb(104, 179, 208);
}
.city {
    color: black;
    background-color: rgb(104, 179, 208);
}
.population {
    color: black;
    background-color: rgb(104, 179, 208);
}
.number {
    color: black;
    background-color: rgb(192, 192, 192);
    text-align: center;
}
.bahia {
    color: black;
    background-color: rgb(200, 231, 242);
}
table {
    border-style: solid;
    border-color: rgb(200, 231, 242);
}
h1 {
    background-color: rgb(20, 82, 130);
    color: white;
}